<h2>personal-mailinator</h2>

<h3>Your own personal <a href="http://mailinator.com">Mailinator</a>.</h3>

<hr class="mediumwidth">

<a href="/new"><button class="smooth btn-b">Create one</button></a>

<hr class="mediumwidth">

<p>Personal Mailinator is an open source project that allows you to host your own mailinator. It's built on top of <a href="http://sendgrid.com">SendGrid</a>'s <a href="http://sendgrid.com/docs/API_Reference/Webhooks/parse.html">Inbound Parse Webhook</a> and <a href="http://runscope.com">Runscope<a/>'s <a href="http://requestb.in">RequestBin</a>.</p>
