<div class="mediumwidth">
  <h2>disposable-email</h2>

  <h3>Your own personal disposable email. Inspired by the excellent <a href="http://mailinator.com">Mailinator</a>.</h3>

  <a href="/new"><button class="smooth btn-b">Create one</button></a>

  <hr class="mediumwidth">
</div>

<img src="images/disposable-email.gif" />

<hr class="mediumwidth">

<div class="mediumwidth">
  <p>Disposable Email is an <a href="https://github.com/scottmotte/disposable-email">open source project</a> that allows you to host your own disposable email. Inspired by the excellent <a href="http://mailinator.com">Mailinator.com</a>. Disposable Email is built on top of <a href="http://sendgrid.com">SendGrid</a>'s <a href="http://sendgrid.com/docs/API_Reference/Webhooks/parse.html">Inbound Parse Webhook</a> and <a href="http://runscope.com">Runscope<a/>'s <a href="http://requestb.in">RequestBin</a>.</p>
</div>
