<!DOCTYPE html>
<!--[if !IE]><html><![endif]--><!--[if lte IE 7]><html class="ie"><![endif]-->
<head>
  <meta charset="UTF-8">
  <title>disposable-email | Host your own disposable email</title>
  <link href="css/min.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <br/>
  <!-- Render the current template here -->
  {{ yield }}
</body>
</html>
