<!DOCTYPE html>
<!--[if !IE]><html><![endif]--><!--[if lte IE 7]><html class="ie"><![endif]-->
<head>
  <meta charset="UTF-8">
  <title>personal-mailinator | Your own personal mailinator</title>
  <link href="css/min.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="mediumwidth">
    <br/>
    <!-- Render the current template here -->
    {{ yield }}
  </div>
</body>
</html>
